<%= form_for @post, html: { multipart: true } do |f| %>
<%= render 'form_error', resource: f.object %>
<div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</div>
<div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
</div>
<div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
</div>
<div class="field">
    <%= f.label :when %><br>
    <%= f.datetime_field :when %>
</div>
<div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
</div>
<!-- TODO -->
<!-- In the future you don't want the status to be editable.-->
<!-- It should change automatically using Rails Active Job -->
<div class="field">
    <label><%= f.label :status %></label>
    <%= f.select :status, options_for_select([['open', 'open'], ['complete', 'complete'], ['pending', 'pending'], ['incomplete', 'incomplete']]) %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
