<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <%= image_tag @post.image.url(:medium) %>
                <div class="star-rating" data-score= <%= @avg_review %> ></div>
                <em><%= "#{@reviews.length} reviews" %></em>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Title:</strong></td>
                                <td><%= @post.title %></td>
                            </tr>
                            <tr>
                                <td><strong>Posted By:</strong></td>
                                <td><%= @post.user.email %></td>
                            </tr>
                            <tr>
                                <td><strong>Description:</strong></td>
                                <td><%= @post.description %></td>
                            </tr>
                            <tr>
                                <td><strong>Expiration Date:</strong></td>
                                <td><%= @post.when %></td>
                            </tr>
                            <tr>
                                <td><strong>Price:</strong></td>
                                <td><%= @post.price %></td>
                            </tr>
                            <tr>
                                <td><strong>Number of interest requests:</strong></td>
                                <td><%= @post.number_of_buyers %></td>
                            </tr>
                        </tbody>
                    </table>
                    <% if @post.status == 'complete' %>
                        <%= link_to "Write a Review", new_post_review_path(@post) %><br>
                    <% end %>
                    <% if @post.status == 'open' || @post.status == 'pending' %>
                        <%= link_to "Express interest", post_connect_path(@post) %>
                    <% end %>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <h1 class="review_title">Reviews</h1>
                <% if @post.status == 'complete' %>
                    <% if @reviews.blank? %>
                    <h3>No reviews just yet, would you like to add the first!</h3>
                    <%= link_to "Write Review", new_post_review_path(@post), class: "btn btn-danger" %>
                    <% else %>
                        <table class="table table-striped">
                            <tr>
                                <th>Title</th>
                                <th>Reviewer </th>
                                <th>Reviewee </th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <% @reviews.each do |review| %>
                                <div class="reviews">
                                    <div class="star-rating" data-score= <%= review.rating %> ></div>
                                    <tr>
                                        <td><%= review.title %></td>
                                        <td><%= review.user.email %></td>
                                        <td> <%= review.reviewee.email %></td>
                                        <td><%= link_to 'Edit', edit_post_review_path(@post,review), class: 'btn btn-primary' %></td>
                                        <td><%= link_to 'Delete', post_review_path(@post,review), class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } %></td>
                                    </tr>
                                </div>
                            <% end %>
                        </table>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% if @post.user_id == current_user.id %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>

    <script>
    $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        }
    });
    </script>
