
  <%= form_for([@post, @review]) do |f| %>
	  <%= render 'form_error', resource: f.object %>
  <div class="field">
          <label><%= f.label :title %></label>
          <%= f.text_field :title %>
  </div>
  <div class="field">
          <label><%= f.label :description %></label>
          <%= f.text_field :description %>
  </div>
  <div class="field">
          <label><%= f.label :rating %></label>
           <%= f.select :rating, options_for_select([['Very Bad', 1], ['Bad', 2], ['Okay', 3], ['Good', 4], ['Very Good', 5]]) %>
  </div>
	  <%= f.hidden_field :post_id, :value => @post.id %>       
  <div class="actions">
    	<%= f.submit "Add Review", class: "addButton" %>
  </div>
  <% end %>
